In [134]:
import pandas as pd

df = pd.read_csv('file/stock.csv',index_col='N')
df.index.namee = "번호"

In [135]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 250 entries, 1 to 250
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   종목명     250 non-null    object
 1   현재가     250 non-null    object
 2   전일비     250 non-null    object
 3   등락률     250 non-null    object
 4   액면가     250 non-null    object
 5   시가총액    250 non-null    object
 6   상장주식수   250 non-null    object
 7   외국인비율   250 non-null    float64
 8   거래량     250 non-null    object
 9   PER     207 non-null    object
 10  ROE     202 non-null    float64
dtypes: float64(2), object(9)
memory usage: 23.4+ KB

In [136]:
df.columns

# '종목명', '현재가', '등락률','시가총액' 을 출력하시오
# 10-20까지 출력
df[['종목명', '현재가', '등락률','시가총액']][10:20]

## columns 3:5 까지 출력
df[df.columns[3:6][3:20]]   # column 기준으로 row 출력

# ## rows 3:30 까지 출력
# df.loc[3:30]

### 종목명을 가지고 역순정렬 상위 10개까지 출력하시오
# df.index
# df.reset_index(inplace=True)

Empty DataFrame
Columns: []
Index: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, ...]

[250 rows x 0 columns]

In [137]:
# # index 삭제후 종목명을 index 지정  
# # 1. index 삭제
# df.reset_index(inplace=True)  
# # 2.
# df.set_index("종목명",inplace=True)
# 정렬
# df.sort_index(inplace=True) # 순차정렬
# df.sort_index(ascending=False,inplace=True)  # 역순정렬
df.head(10)
df[df.columns[[1,3,-1]]][:5]    # columns 출력 1,3,-1(끝번)

       현재가     등락률    ROE
N
1   55,800  +1.82%   9.03
2  194,600  +2.37%  31.06
3  319,000  +0.31%  -4.93
4  999,500  -3.89%  10.45
5  193,900  +2.11%  12.43

In [138]:
### df - column 정보 출력, df.iloc, df.loc - row 정보를 출력
df['현재가']
df[:][:5]
df.iloc[:3]

,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
N,,,,,,,,,,,
1,삼성전자,"55,800","상승1,000",+1.82%,100,"3,303,158","5,919,638",49.69,"6,139,466",11.27,9.03
2,SK하이닉스,"194,600","상승4,500",+2.37%,"5,000","1,416,693","728,002",53.78,"847,185",7.16,31.06
3,LG에너지솔루션,"319,000","상승1,000",+0.31%,500,"746,460","234,000",4.23,"58,962",-73.27,-4.93

In [ ]:
# df.info()   # 현재가 타입 - object
# df['현재가'][:3]    # 타입을 변경하려고 함
# ## 1. 숫자타입 변경시 천단위 표시 제거를 해야함
# ## 2. str.replace(",","")
# ## 3. 타입변경(astype(int))
# df['현재가'].str.replace(",","").astype(int
# df['현재가']    # object

# df.info()

## 최대값, 최소값, 상위 5개 출력, 하위 5개 출력, 평균
`df['현재가'].max()
df['현재가'].min()

df['현재가'] = df['현재가'].str.replace(",","").astype(int)
df['현재가'].nlargest()
df['현재가'].nsmallest()
# df['현재가'].mean()